<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">New Problem</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetSubmit()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <div class="new_problem">
    <form #formRef="ngForm" [formGroup]="newProblemForm">
      <div class="form-group">
        <label for="problemName">Problem Name</label>
        <input type="text" class="form-control" id="problemName" formControlName="problemName" name="problemName" placeholder="Input problem name" required>
        <div *ngIf='problemName.invalid' class="alert alert-danger problem-form-error">
          Problem name must not be empty
        </div>
      </div>
      <div class="form-group">
        <label for="problemDesc">Problem Description</label>
        <textarea type="text" class="form-control" id="problemDesc" formControlName="problemDesc"  name="problemDesc" placeholder="Input problem description" required rows="3"></textarea>
        <div *ngIf='problemDesc.invalid' class="alert alert-danger problem-form-error">
          Problem description must not be empty
        </div>
      </div>
        <div class="form-group">
          <label for="difficulty">Difficulty</label>
          <select class="form-control" id="difficulty" formControlName="difficulty" name="difficulty">
            <option *ngFor="let difficulty of difficulties" [value]="difficulty">
            {{ difficulty }}
            </option>
          </select>
        </div>
    </form>
  </div>
</div>

<div class="status">
  <div *ngIf='!authService.isLoggedIn' class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Wait!</h4>
    <p>
      You have not logged in yet
    </p>
  </div>
  <div *ngIf="status == STATUS.Pending && authService.isLoggedIn" class="progress">
    <div class="progress-bar progress-bar-striped active pending-progress-bar">
        Loading, please wait...
    </div>
  </div>
  <div *ngIf='status == STATUS.Success' class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>
      You successfully add a new problem. Close the window if you are done.
    </p>
  </div>
  <div *ngIf='status == STATUS.Fail' class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oh snap!</h4>
    <p>
      This problem has already existed.
    </p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary modal_btn" data-dismiss="modal" (click)="resetSubmit()">Close</button>
  <button type="submit" class="btn btn-primary modal_btn" (click)="addProblem()" [disabled]="newProblemForm.invalid || !authService.isLoggedIn">Save</button>
</div>
